body{
    background-color: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 50px;
    width: 450px;
    height: 650px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #4e637a;
    border-radius: 20px;
    box-shadow: 3px 5px black;

}
.screen {
    margin-top: 15px;
    width: 88%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
    background-color: #4e637a;
}
.topScreen{
    text-align: end;
    height: 20%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    font-weight: 700;
    font-size: 20px;
    overflow: hidden;
    background-color: #d3e4f7;
    border-radius: 5px;
}
.lowScreen {
    text-align: end;
    height: 70%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: 700;
    font-size: 50px;
    overflow: hidden;
    word-break: break-all;
    background-color: #eaf3fd;
    border-radius: 5px;
}
.onoff {
    width: 88%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#6481a0 ;
    border-radius: 10px;
}
.buttons {
    width: 88%;
    height: 60%;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    justify-content: center;
    padding: 7px 0;
    background-color: #6481a0;
    border-radius: 10px;
}
.numKey{
    border-radius: 10px;
    width: 23%;
    font-size: 25px;
    font-weight: 700;
    background-color: #e1efff;
}
.button{
    border-radius: 15px;
    width: 45%;
    height: 90%;
    font-size: 25px;
    font-weight: 700;
    background-color: #e1efff;
}

button:focus-visible{
    outline: none;
}

button:hover {
    background: #c6defa
  }